.DS_Store

*.gitignore
*.apk

*.ap_

*.dex
*.class

bin/
gen/
out/

.gradle/
build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/misc.xml
.idea/vcs.xml
.idea/

.externalNativeBuild

*.rar
*.zip